body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: hard-light;
  opacity: 100;
}
.container {
  font-size: 10px;
  width: 40em;
  height: 40em;
  position: relative;
}
.sun {
  position: absolute;
  top: 15em;
  left: 15em;
  width: 10em;
  height: 10em;
  background-color: rgb(255, 210, 113);
  border-radius: 50%;
  box-shadow: 0 0 5em rgb(255, 255, 255);
}
.earth,.moon,.mars {
  position: absolute;
  border-style: solid;
  border-color: rgb(190, 190, 190) transparent transparent transparent;
  border-width: 0.1em 0.1em 0 0;
  border-radius: 50%;
}
.earth {
  top: 4em;
  left: 4em;
  width: 32em;
  height: 32em; 
  animation: orbit 32.5s linear infinite;   
}
.moon {
  top: 0.3em;
  right: 0.9em;
  width: 8em;
  height: 8em; 
  animation: orbit 1.7s linear infinite;
}
.mars {
  top: 11em;
  left: 11em;
  width: 18em;
  height: 18em;
  animation: orbit 68.7s linear infinite;
}
.earth::before,
.moon::before,
.mars::before {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.earth::before {
  top: 2.8em;
  right: 3.4em;
  width: 3em;
  height: 3em;
  background-color: rgb(65, 141, 255);    
}
.moon::before {
  top: 0.8em;
  right: 0.2em;
  width: 1.2em;
  height: 1.2em;
  background-color: rgb(167, 165, 148);
}
.mars::before {
  top: 1.5em;
  right: 1.5em;
  width: 2em;
  height: 2em;
  background-color: rgb(255, 115, 0);
}
@keyframes orbit {
  to {
      transform: rotate(360deg);
  }
}
.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
}
.planet-name {
  display: none;
  position: absolute;
  color: white;
  font-size: 1.2em;
}
.sun:hover::after,
.earth:hover::after,
.moon:hover::after,
.mars:hover::after {
  content: attr(data-name);
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  top: -1.5em; /* change bottom to top and adjust the value */
  left: 50%;
  transform: translateX(-50%);
}